# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Build artifacts
*.zip
*.egg-info/
dist/
build/

# Anki-specific
meta.json
*.ankiaddon
